<app-navigation></app-navigation>
<app-sidebar></app-sidebar>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div [ngSwitch]="isOpen" class="col-md-8">
                <app-view-profile *ngSwitchCase="'View'" [user]="user"></app-view-profile>
                <app-edit-profile *ngSwitchCase="'Edit'" [user]="user"></app-edit-profile>
                <app-user-achievement *ngSwitchCase="'Achievement'" [user]="user"></app-user-achievement>
                <app-add-admin *ngSwitchCase="'Add agent'"></app-add-admin>
                <app-add-achievment *ngSwitchCase="'Add achievement'"></app-add-achievment>
                <app-deactivate-account *ngSwitchCase="'Deactivate'"></app-deactivate-account>
                <app-friends-list *ngSwitchCase="'Friends'"></app-friends-list>
                <app-announcement-proposition *ngSwitchCase="'Publish announcements'"></app-announcement-proposition>
            </div>
            <div class="col-md-4">
                <app-user-menu [user]="user" [currentUser]="currentUser" (toOpen)="open($event)"></app-user-menu>
            </div>
        </div>
    </div>
</div>
