<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Edit Profile</h4>
        <p class="card-category">Complete your profile</p>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md align-self-center">
                    <label for="userName">Username: </label>
                    <h4 id="userName">{{currentUser.userName}}</h4>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label class="bmd-label-floating">Email</label>
                        <input [(ngModel)]="updatedUser.email" autocomplete="off" class="form-control" name="emailField"
                               type="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label class="bmd-label-floating">Password</label>
                        <input [(ngModel)]="updatedUser.userPassword" class="form-control" name="password"
                               type="password">
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label class="bmd-label-floating">Repeat Password</label>
                        <input class="form-control" name="repeat-password" type="password" [(ngModel)]="repeatPassword">
                    </div>
                </div>
            </div>
            <div [ngSwitch]="editStatus">
                <div class="alert alert-success text-center" role="alert" *ngSwitchCase="'success'">
                    Success! The user has been changed
                </div>
                <div class="alert alert-warning text-center" role="alert" *ngSwitchCase="'password'">
                    The password should contain at least 8 characters, 1 upper letter and 1 number
                </div>
                <div class="alert alert-danger text-center" role="alert" *ngSwitchCase="'error'">
                    This email is already exist! Try again!
                </div>
            </div>
            <button class="btn btn-primary pull-right" type="button"
                    [disabled]="userService.equals(currentUser, updatedUser) || updatedUser.userPassword != repeatPassword"
                    (click)="update()">Update Profile</button>
        </form>
    </div>
</div>