
<style>



</style>
<div class = "navigation">
    <app-navigation></app-navigation>
    <router-outlet></router-outlet>
</div>




<div class="announcement">
    <ul class="list-rectangle">


        <li *ngFor="let announcement of announcements">
            <!--div class="alert alert-warning"-->
                <div>Description: {{announcement.description}}</div>
                <div>Date: {{announcement.announcementDate}}</div>

            <!--/div-->
            <div class="btn-default btn">
                <a [routerLink]="['/books/book',announcement.bookID]">More about book</a>
            </div>
            <!--button  class="btn btn-primary" (click)="getMoreInfo(announcement)">Publish
            </button-->
        </li>
    </ul>

</div>


