<div><h1>Books</h1></div>
<div>
  <form action="">
    <table>
      <tr>
        <td><label for="title">Title</label></td>
        <td><input type="text" [(ngModel)]="model.title" id="title" name="title"></td>
      </tr>
      <tr>
        <td><label for="header">Header</label></td>
        <td><input type="text" [(ngModel)]="model.header" id="header" name="header"></td>
      </tr>
      <tr>
        <td><label for="author">Author</label></td>
        <td><input type="text" [(ngModel)]="model.author" id="author" name="author"></td>
      </tr>
      <tr>
        <td><label for="photo">Photo</label></td>
        <td><input type="number" [(ngModel)]="model.photo" id="photo" name="photo"></td>
      </tr>
      <tr>
        <td><label for="file">File</label></td>
        <td><input type="number" [(ngModel)]="model.file" id="file" name="file"></td>
      </tr>
      <tr>
        <td><label for="status">Status</label></td>
        <td><input type="text" [(ngModel)]="model.status" id="status" name="status"></td>
      </tr>
      <tr>
        <td><label for="overview">Overview</label></td>
        <td><textarea type="text" [(ngModel)]="model.overview"  id="overview" name="overview" rows="5"></textarea></td>
      </tr>
    </table>
    <button (click)="createBook();">Add book</button>
  </form>
</div>
<div>
  <ul>
    <li *ngFor="let book of books" (click)="getBook(book)"  [class.selected]="book === selectedBook">
      <div><a>{{book.title}}</a></div>
      <div>{{book.overview}}</div>
      <button  (click)="deleteBook(book)">delete</button>
    </li>
  </ul>
</div>


<app-book [book] = "selectedBook"></app-book>
