<form method="post" #f="ngForm" (submit)="change()">
  <table>
    <tr>
      <td><label for="login">login</label></td>
      <td><input id="login" type="email" name="login" placeholder="" [(ngModel)]="model.login"></td>
    </tr>
    <tr>
      <td><label for="recoverCode">code</label></td>
      <td><input id="recoverCode" type="email" name="recoverCode" placeholder="" [(ngModel)]="model.code"></td>
    </tr>
    <tr>
      <td><label for="newPassword">new password</label></td>
      <td><input id="newPassword" type="email" name="newPassword" placeholder="" [(ngModel)]="model.password"></td>
    </tr>
  </table>
  <input type="submit" value="Change password">
</form>

