<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

<div class="container">
    <div class="row" style="width: 100%">
        <div class="col-md-offset-3 col-md-6">

            <div class="tab" role="tabpanel">
                <div class="tab-content tabs">
                    <div class="tab-pane fade in active" id="Section1" role="tabpanel">
                        <form #f="ngForm" class="form-horizontal" method="post">
                            <div class="form-group">
                                <label>Change your password</label>
                            </div>
                            <div class="form-group">
                                <label for="recoverCode">Recover code</label>
                                <input [(ngModel)]="model.code" class="form-control" id="recoverCode" name="code"
                                       type="password">
                            </div>
                            <div class="form-group">
                                <label for="newPassword">New password</label>
                                <input [(ngModel)]="model.password" class="form-control" id="newPassword" name="password"
                                       type="password">
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm password</label>
                                <input [(ngModel)]="model.confirmPassword" class="form-control" id="confirmPassword" name="confirmPassword"
                                       type="password">
                            </div>
                            <div class = "form-group">
                                <button (click)="sendAgain()" class="btn btn-default" type="button">Send code again</button>
                            </div>
                            <div class="form-group">
                                <button (click)="change()"
                                        [disabled]="!(this.model.password.length!=0&&this.model.code.length!=0&&this.model.password===this.model.confirmPassword)"
                                        class="btn btn-default" type="button">Change password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

