<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Achievement</h4>
    </div>
    <div class="card-body row justify-content-center">
        <div *ngFor="let achievement of achievements">
            <h3>
            <span *ngIf="achievement.entity==ActionEntity.book">
                <i class="material-icons">library_books</i>
            </span>
                <span *ngIf="achievement.entity==ActionEntity.user">
                <i class="material-icons">people_outline</i>
            </span>
                <span *ngIf="achievement.entity==ActionEntity.review">
                <i class="material-icons">rate_review</i>
            </span>
                <span *ngIf="achievement.entity==ActionEntity.announcement">
                <i class="material-icons">announcement</i>
            </span>
                <span> {{achievement.achievementName.toUpperCase()}} !!!</span>
            </h3>
        </div>
    </div>
</div>

