<p>user-settings works!</p>




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
<div class="container">
    <div class="row" >
        <div class="col-md-offset-3 col-md-6">
            <div class="tab" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <span class = "select">Your settings:</span>
                </ul>
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <form class="form-horizontal" method="post" #f="ngForm" (submit)="submitSettings()">
                            <div *ngFor="let item of settingsData">
                                <input value="{{item.name}}" type="checkbox" [checked]="item.value" (change)= "onToggle(item.name,item.value)"> <span class="select">{{item.name}}</span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Submit settings</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div *ngFor="let item of settingsData">
    <input value="{{item.name}}" type="checkbox" [checked]="item.value" (change)= "onToggle(item.name,item.value)">{{item.name}}
</div>





