<form method="post" #f="ngForm" (submit)="recover()">
  <table>
    <tr>
      <td><label for="login">login</label></td>
      <td><input id="login" type="email" name="login" placeholder="" [(ngModel)]="model.login"></td>
    </tr>
    <tr>
      <td><label for="email">email</label></td>
      <td><input id="email" type="email" name="email" placeholder="" [(ngModel)]="model.email"></td>
    </tr>
  </table>
  <input type="submit" value="Send" a href="newPassword">
  <a href="/change">Change password</a>
</form>
