
<div class="navigation">
    <app-navigation></app-navigation>
    <router-outlet></router-outlet>
</div>
<div>


    <form class="form">
        <div class = "header">
            <h2>Create new announcement</h2>
        </div>
        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="inputDescription">Description</label>
                <input type="text" name="description" class="form-control" id="inputDescription"
                       placeholder="Description" [(ngModel)]="model.description">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDate">Date of ivent</label>
            <input  class="form-control" id="inputDate" type="date"  name="date"
                   [(ngModel)]="model.announcementDate">
        </div>


            <button [disabled]="!(this.model.announcementDate.length > 0
                && this.model.description.length > 0)" class="btn btn-primary" (click)="createAnnouncement()">Save
        </button>
    </form>
    <!--<div>
<div class="form-group">
                                <button type="submit" [disabled]="!(this.model.login.length != 0 && this.model.password.length > 0
                && this.model.email.length > 0 && this.model.password===confirmPassword)" class="btn btn-default">Sign
                                    up
                                </button>
        <div>
            <label>Text:<input type="text"  name="description"  [(ngModel)]="model.description"></label>
        </div>
        <div>
            <label>Date:<input type="text" name="date" [(ngModel)]="model.announcementDate"></label>
        </div>

        <button (click)="createAnnouncement()">Save</button>
</div>-->

</div>
