
<!--div class="navigation" xmlns:date="http://www.w3.org/1999/xhtml" xmlns:date="http://www.w3.org/1999/xhtml"
     xmlns:date="http://www.w3.org/1999/xhtml"-->

<div class="navigation">
    <app-navigation></app-navigation>
    <router-outlet></router-outlet>
</div>
<div>


    <form class="form">
        <div class="header">
            <h2>Create new announcement</h2>
        </div>
        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="inputDescription">Description</label>
                <input [(ngModel)]="model.description"
                       class="form-control" id="inputDescription" name="description"
                       placeholder="Description" maxlength="100"
                       type="text"
                       #text="ngModel" required pattern ="^(?=\D)+\w*$"
                >
            </div>
        </div>
        <div class="form-group">
            <label for="inputDate">Date of event</label>
            <input  class="form-control" id="inputDate" type="date"  name="date"
                    [ngModel]="model.announcementDate | date: 'yyyy-MM-dd'" (ngModelChange)="model.announcementDate = $event">

        </div>



            <button
                [disabled]="!( this.model.announcementDate > this.formatted_date &&
                this.model.description.length > 0 && text.valid )" class="btn btn-primary"
                (click)="createAnnouncement()"  [routerLink]="['/books']"><a>Save</a>

        </button>
    </form>
    <!--<div>
<div class="form-group">
                                <button type="submit" [disabled]="!(this.model.login.length != 0 && this.model.password.length > 0
                && this.model.email.length > 0 && this.model.password===confirmPassword)" class="btn btn-default">Sign
                                    up
                                </button>
        <div>
            <label>Text:<input type="text"  name="description"  [(ngModel)]="model.description"></label>
        </div>
        <div>
            <label>Date:<input type="text" name="date" [(ngModel)]="model.announcementDate"></label>
        </div>

        <button (click)="createAnnouncement()">Save</button>
</div>-->

</div>
