<app-navigation></app-navigation>
<app-sidebar></app-sidebar>
<div style="padding-top: 67px; margin-left: 260px">

    <div class="row">
        <div class="col-9">
            <div class="justify-content-center row text-muted content">
            <h1 id="myText">My Books List</h1>
        </div>
        <div>
            <div id="btnwrapper">
                <button (click)="router.navigate(['/userBooks'])" class="btn btn-primary">My Books</button>
                <div class="divider"></div>
                <button (click)="getAllReadBooks()" class="btn btn-primary">My Read Books</button>
                <div class="divider"></div>
                <button (click)="router.navigate(['/userBooks/favourite'])" class="btn btn-primary">My Favourite Books
                </button>
            </div>
            <div>
                <div class="row justify-content-center">
                <div style="text-align: center; font-size: 30px"><h3 *ngIf="emptyReadList">Since you do not
                    have read books, we suggest you most rated books</h3></div>
                <div *ngFor="let readBook of userReadBookList | filter:searchTitle" class="col-lg-4 align-items-stretch align-items-center row">
                    <div class="card card-profile">
                        <div class="card-body">
                            <div class="card-title">
                                <h3><a [routerLink]="['book', readBook.id]"> {{readBook.header}}</a></h3>
                            </div>
                            <div class="card-description">
                                <app-book-img [book]="readBook"></app-book-img>
                                <h3>Status: {{readBook.status}}</h3>
                                <div>
                                    <h3 *ngIf="readBook.authors">Authors:</h3>
                                    <div *ngFor="let author of readBook.authors ">
                                        <h3>{{author.name}}</h3>
                                    </div>
                                </div>
                                <h3 *ngIf="readBook.genre">Genre: {{readBook.genre}}</h3>
                                <div>Overview: {{readBook.overview | truncateText:250}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
        </div>
    </div>

    <div class="col-3">
        <form action="">
            <div class="card-body bmd-form-group row">
                <div class="m-auto">
                    <h3>Search Book</h3>
                </div>
                <div class="input-group no-border">
                    <input class="col-12 form-control" [(ngModel)]="searchTitle" name="header"
                           placeholder="Search by book title"
                           type="text" required>
                    <i class="material-icons">search</i>
                    <span class="ripple-container"></span>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
