#myText {
    text-align: center;
    font-size: 50px;
}

app-navigation {
    padding-top: 67px;
    margin-left: 70px;
}

#btnwrapper {
    text-align: center;
    position: relative;
    top: 0;
    height: 10vh;
}

.divider {
    width: 50px;
    height: auto;
    display: inline-block;
}
