<app-navigation></app-navigation>
<div style="padding-top: 67px;margin-left: 70px;"></div>

<div class="content row">
    <div class="col-9">
        <div class="text-muted">
            <h1 id="myText">My Books List</h1>
            <input class="form-control col-3" type="text" [(ngModel)]="curBookList.searchTitle" placeholder="Search..."
                   name="header">
            <button class="btn btn-primary" (click)="curBookList.searchByTitle()">Search</button>
        </div>
        <div>
            <div id="btnwrapper">
                <button class="btn btn-primary" (click)="router.navigate(['/userBooks'])">All Books</button>
                <div class="divider"></div>
                <button class="btn btn-primary" (click)="router.navigate(['/userBooks/read'])">My Read Books</button>
                <div class="divider"></div>
                <button class="btn btn-primary" (click)="router.navigate(['/userBooks/favourite'])">My Favourite Books</button>
            </div>
            <div class="row">
                <<div *ngFor="let favBook of curBookList.userFavBookList" class="col-lg-4  col-md-6">
                    <app-book [book]="favBook"></app-book>
                </div>>
            </div>
        </div>
        <div>
            <div class="row">
                <div style="text-align: center; font-size: 30px"><h2 *ngIf="curBookList.emptyReadList">Since you do not have
                    any read books, we suggest you most rated books</h2></div>
                <div *ngFor="let readBook of curBookList.userReadBookList" class="col-lg-4  col-md-6">
                    <app-book [book]="readBook"></app-book>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="text-align: center; font-size: 30px"><h2 *ngIf="curBookList.emptyBookList">Since you do not have
                any books, we suggest you most rated books</h2></div>
            <div *ngFor="let book of curBookList.userBookList" class="col-lg-4  col-md-6">
                <div class="card card-profile">
                    <div class="card-body">
                        <div class="card-title">
                            <h3><a [routerLink]="['book', book.id]"> {{book.header}}</a></h3>
                        </div>
                        <div class="card-description">
                            <app-book-img [book]="book"></app-book-img>
                            <div>Overview: {{book.overview}}</div>
                            <div>Status: {{book.status}}</div>
                            <div>
                                <div>Authors:</div>
                                <div *ngFor="let author of book.authors ">
                                    <div>{{author.name}}</div>
                                </div>
                            </div>
                            <div *ngIf="book.genre">Genre: {{book.genre}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--     </div>-->
    </div>

    <div class="col-3">
        <form action="">
            <div class="card-body bmd-form-group row">
                <div class="input-group no-border">
                    <input class="form-control" type="text" [(ngModel)]="curBookList.bookFilter.header"
                           placeholder="Search..." name="header">
                    <button type="submit" (click)="curBookList.searchByFilter()"
                            class="btn btn-default btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>

                </div>
                <button class="btn btn-primary" (click)="curBookList.searchByFilter()">Search by filter</button>
                <button class="btn btn-primary" (click)="curBookList.resetFiler()">Reset filter</button>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card form-check">
                        <div class="card-title card-header-primary">
                            <h2>Author</h2>
                        </div>
                        <div class="card-body row">
                            <div *ngFor="let character of curBookList.fillArray()">
                                <h3 class="font-weight-bold btn-link border-bottom"
                                    (click)="curBookList.filterAuthor(character)">{{character}}</h3>
                            </div>
                            <div *ngFor="let author of curBookList.filterAuthors;" class="col-6">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="author.selected"
                                           name="{{author.name}}">{{author.name}}
                                    <span class="form-check-sign"><span class="check"></span></span>
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card form-check">
                        <div class="card-title card-header-primary">
                            <h2>Genre</h2>
                        </div>
                        <div class="card-body row">
                            <div *ngFor="let character of curBookList.fillArray()">
                                <h3 class="font-weight-bold btn-link  border-bottom"
                                    (click)="curBookList.filterGenre(character)">{{character}}</h3>
                            </div>
                            <div *ngFor="let genre of curBookList.filterGenres;" class="col-6">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="genre.selected"
                                           name="{{genre.name}}">{{genre.name}}
                                    <span class="form-check-sign"><span class="check"></span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
