<div class="dropdown nav-item">
    <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" href="" id="notificationLabel"
       onclick="return false" style="color: grey">
        <i class="material-icons">notifications</i>
    </a>
    <!--    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="javascript:void(0)" *ngFor="let message of messages">{{message}}</a>
        </div>-->
</div>


