<div class="dropdown nav-item">
    <a class="nav-link" data-toggle="dropdown" href="" id="notificationLabel" onclick="return false" style="color: grey"
       aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">notifications</i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
        <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
        <a class="dropdown-item" href="javascript:void(0)">You're now friend with Andrew</a>
        <a class="dropdown-item" href="javascript:void(0)">Another Notification</a>
        <a class="dropdown-item" href="javascript:void(0)">Another One</a>
    </div>
</div>


