<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Create agent</h4>
        <p class="card-category">Complete agent profile</p>
    </div>
    <div class="card-body">
        <form (submit)="createAgent()">
            <div class="row">
                <div class="col-md-6">
                    <label for="Role">Role</label>
                    <select [(ngModel)]="selectedRole" class=" custom-select" id="Role" name="Role">
                        <option selected value="Admin">Admin</option>
                        <option value="Moderator">Moderator</option>
                    </select>
                </div>
                <div *ngIf="selectedRole == 'Moderator'" class="col-md-6">
                    <label for="RoleGranted">Grants</label>
                    <select class="custom-select" id="RoleGranted">

                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label class="bmd-label-floating">Username</label>
                        <input autocomplete="off" class="form-control" name="username" type="text">
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label class="bmd-label-floating">Email</label>
                        <input autocomplete="off" class="form-control" name="email" type="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label class="bmd-label-floating">Password</label>
                        <input class="form-control" name="password" type="password">
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label class="bmd-label-floating">Repeat Password</label>
                        <input class="form-control" name="repeat password" type="password">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary pull-right" type="submit">Create agent</button>
        </form>
    </div>
</div>
