<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Create agent</h4>
        <p class="card-category">Complete agent profile</p>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <label for="Role">Role</label>
                    <select [(ngModel)]="admin.userRole" class=" custom-select" id="Role" name="Role">
                        <option *ngIf="user.userRole == 'super'">admin</option>
                        <option *ngIf="user.userRole == 'super' || user.userRole == 'admin'">moderator</option>
                    </select>
                </div>
                <div *ngIf="admin.userRole == 'moderator'" class="col-md-6">
                    <label for="RoleGranted">Grants</label>
                    <select class="custom-select" id="RoleGranted">

                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label class="bmd-label-floating">Username</label>
                        <input autocomplete="off" class="form-control" name="username" type="text" [(ngModel)]="admin.userName">
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label class="bmd-label-floating">Email</label>
                        <input autocomplete="off" class="form-control" name="email" type="email" [(ngModel)]="admin.email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label class="bmd-label-floating">Password</label>
                        <input class="form-control" name="password" type="password" [(ngModel)]="admin.userPassword">
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label class="bmd-label-floating">Repeat Password</label>
                        <input class="form-control" name="repeat password" type="password" [(ngModel)]="repeatPassword">
                    </div>
                </div>
            </div>
            <div [ngSwitch]="editStatus">
                <div class="alert alert-success text-center" role="alert" *ngSwitchCase="'success'">
                    Success! The agent has been created
                </div>
                <div class="alert alert-danger text-center" role="alert" *ngSwitchCase="'error'">
                    This email or username is already exist! Try again!
                </div>
            </div>
            <button class="btn btn-primary pull-right" type="button" [disabled]="admin.userPassword != repeatPassword" (click)="createAgent()">Create agent</button>
        </form>
    </div>
</div>
