<app-navigation></app-navigation>
<div style="padding-top: 67px; margin-left: 70px;"></div>

<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div
                    (viewDateChange)="closeOpenMonthViewDay()"
                    [(viewDate)]="viewDate"
                    [view]="view"
                    class="btn btn-primary"
                    mwlCalendarPreviousView
            >
                Previous
            </div>
            <div
                    [(viewDate)]="viewDate"
                    class="btn btn-outline-secondary"
                    mwlCalendarToday
            >
                Today
            </div>
            <div
                    (viewDateChange)="closeOpenMonthViewDay()"
                    [(viewDate)]="viewDate"
                    [view]="view"
                    class="btn btn-primary"
                    mwlCalendarNextView
            >
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>

</div>
<br/>
<div [ngSwitch]="view">
    <mwl-calendar-month-view
            (dayClicked)="dayClicked($event.day)"
            (eventTimesChanged)="eventTimesChanged($event)"
            *ngSwitchCase="CalendarView.Month"
            [activeDayIsOpen]="activeDayIsOpen"
            [events]="events"
            [refresh]="refresh"
            [viewDate]="viewDate"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
            (eventTimesChanged)="eventTimesChanged($event)"
            *ngSwitchCase="CalendarView.Week"
            [events]="events"
            [refresh]="refresh"
            [viewDate]="viewDate"
    >
    </mwl-calendar-week-view>
</div>

