<app-navigation></app-navigation>
<div style="padding-top: 67px; margin-left: 70px"></div>

<div class="content row">
    <div class="col-9">
        <div class="text-muted">
            <h1>Books</h1>
            <input class="form-control col-3" type="text" [(ngModel)]="searchTitle" placeholder="Search..." name="header">
            <button class="btn btn-primary" (click)="searchByTitle()">Search</button>
        </div>
        <div>
            <div class="row">
                <div *ngFor="let book of books" class="col-lg-4  col-md-6">
                    <div class="card card-profile">
                        <div class="card-body">
                            <div class="card-title">
                                <h3><a  [routerLink]="['book', book.id]"> {{book.header}}</a></h3>
                            </div>
                            <div class="card-description">
                                <div *ngIf="book.photoURL"><img [src]="getSantizeUrl(book.photoURL)" width="200" height="200" alt=""></div>
                                <div>Overview: {{book.overview}}</div>
                                <div>Status: {{book.status}}</div>
                                <div>
                                    <div>Authors:</div>
                                    <div *ngFor="let author of book.authors ">
                                        <div>{{author.name}}</div>
                                    </div>
                                </div>
                                <div *ngIf="book.genre">Genre: {{book.genre}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button (click)="addBookVisible=!addBookVisible" class="btn btn-primary btn-default">Add book</button>

            <form *ngIf="addBookVisible" action="" #createdBook="ngForm">
                <table class="table">
                    <tr>
                        <td><label for="header">Header</label></td>
                        <td><input #header="ngModel" required class="form-control" type="text" [(ngModel)]="model.header"   id="header" name="header"></td>
                    </tr>
                    <tr>
                        <td><label for="status">Status</label></td>
                        <td><input #status="ngModel" required class="form-control" type="text" [(ngModel)]="model.status" id="status" name="status"></td>
                    </tr>
                    <tr>
                        <td><label for="overview">Overview</label></td>
                        <td><textarea #overview="ngModel" required class="form-control" type="text" [(ngModel)]="model.overview" id="overview" name="overview"
                                      rows="5"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="genre">Genre</label></td>
                        <td><input #genre="ngModel" required class="form-control" type="text" [(ngModel)]="model.genre" id="genre" name="genre"></td>
                    </tr>

                    <tr>
                        <td><label for="authors">Authors(split - ',')</label></td>
                        <td><textarea required class="form-control" type="text" [(ngModel)]="createdAuthors" id="authors" name="authors"
                                      rows="5" #authors="ngModel"></textarea></td>
                    </tr>
                </table>
                <div class="form-control-feedback" *ngIf="authors.errors && (authors.dirty || authors.touched)&&header.errors && (header.dirty || header.touched)
                            && genre.errors && (genre.dirty || genre.touched) && status.errors && (status.dirty || status.touched) &&
                            overview.errors && (overview.dirty || overview.touched) ">
                    <div>Check field</div>
                </div>

                <button [disabled]="!createdBook.valid" class="btn btn-default btn-primary" (click)="createBook();">Submit</button>
            </form>
        </div>
    </div>

    <div class="col-3">
        <form action="">
            <div class="card-body bmd-form-group row">
                <div class="input-group no-border">
                    <input class="form-control" type="text" [(ngModel)]="bookFilter.header" placeholder="Search..." name="header">
                    <button type="submit" (click)="searchByFilter()" class="btn btn-default btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>

                </div>
                <button class="btn btn-primary" (click)="searchByFilter()">Search by filter</button>
                <button class="btn btn-primary" (click)="resetFiler()">Reset filter</button>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card form-check">
                        <div class="card-title card-header-primary">
                            <h2>Author</h2>
                        </div>
                        <div class="card-body row">
                            <div *ngFor="let character of fillArray()" class="col-1">
                                <h3  class="font-weight-bold btn-link border-bottom" (click)="filterAuthor(character)" >{{character}}</h3>
                            </div>
                            <div *ngFor="let author of filterAuthors;" class="col-12">
                                <label class="form-check-label" >
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="author.selected" name="{{author.name}}">{{author.name}}
                                    <span class="form-check-sign"><span class="check"></span></span>
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card form-check">
                        <div class="card-title card-header-primary">
                            <h2>Genre</h2>
                        </div>
                        <div class="card-body row">
                            <div *ngFor="let character of fillArray()" class="col-1">
                                <h3 class="font-weight-bold btn-link  border-bottom" (click)="filterGenre(character)" >{{character}}</h3>
                            </div>
                            <div *ngFor="let genre of filterGenres;" class="col-12">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="genre.selected" name="{{genre.name}}">{{genre.name}}
                                    <span class="form-check-sign"><span class="check"></span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>
