<app-navigation></app-navigation>
<div style="padding-top: 67px; margin-left: 70px"></div>

<div class="content row">
    <div class="col-9">
        <div class="text-muted">
            <h1>Books</h1>
            <input [(ngModel)]="searchTitle" class="form-control col-3" name="header" placeholder="Search..."
                   type="text">
            <button (click)="searchByTitle()" class="btn btn-primary">Search</button>
        </div>
        <div>
            <div class="row">
                <div *ngFor="let book of books" class="col-lg-4  col-md-6">
                    <div class="card card-profile">
                        <div class="card-body">
                            <div class="card-title">
                                <h3><a [routerLink]="['book', book.id]"> {{book.header}}</a></h3>
                            </div>
                            <div class="card-description">
                                <app-book-img [book]="book"></app-book-img>
                                <div>Overview: {{book.overview}}</div>
                                <div>Status: {{book.status}}</div>
                                <div>
                                    <div>Authors:</div>
                                    <div *ngFor="let author of book.authors ">
                                        <div>{{author.name}}</div>
                                    </div>
                                </div>
                                <div *ngIf="book.genre">Genre: {{book.genre}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button (click)="addBookVisible=!addBookVisible" class="btn btn-primary btn-default">Add book</button>

            <form #createdBook="ngForm" *ngIf="addBookVisible" action="">
                <table class="table">
                    <tr>
                        <td><label for="header">Header</label></td>
                        <td><input #header="ngModel" [(ngModel)]="model.header" class="form-control" id="header"
                                   name="header" required type="text"></td>
                    </tr>
                    <tr>
                        <td><label for="status">Status</label></td>
                        <td><input #status="ngModel" [(ngModel)]="model.status" class="form-control" id="status"
                                   name="status" required type="text"></td>
                    </tr>
                    <tr>
                        <td><label for="overview">Overview</label></td>
                        <td><textarea #overview="ngModel" [(ngModel)]="model.overview" class="form-control" id="overview"
                                      name="overview" required rows="5"
                                      type="text"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="genre">Genre</label></td>
                        <td><input #genre="ngModel" [(ngModel)]="model.genre" class="form-control" id="genre" name="genre"
                                   required type="text"></td>
                    </tr>

                    <tr>
                        <td><label for="authors">Authors(split - ',')</label></td>
                        <td><textarea #authors="ngModel" [(ngModel)]="createdAuthors" class="form-control" id="authors"
                                      name="authors" required
                                      rows="5" type="text"></textarea></td>
                    </tr>
                </table>
                <div *ngIf="authors.errors && (authors.dirty || authors.touched)&&header.errors && (header.dirty || header.touched)
                            && genre.errors && (genre.dirty || genre.touched) && status.errors && (status.dirty || status.touched) &&
                            overview.errors && (overview.dirty || overview.touched) " class="form-control-feedback">
                    <div>Check field</div>
                </div>

                <button (click)="createBook();" [disabled]="!createdBook.valid" class="btn btn-default btn-primary">
                    Submit
                </button>
            </form>
        </div>
    </div>

    <div class="col-3">
        <form action="">
            <div class="card-body bmd-form-group row">
                <div class="input-group no-border">
                    <input [(ngModel)]="bookFilter.header" class="form-control" name="header" placeholder="Search..."
                           type="text">
                    <button (click)="searchByFilter()" class="btn btn-default btn-round btn-just-icon" type="submit">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>

                </div>
                <button (click)="searchByFilter()" class="btn btn-primary">Search by filter</button>
                <button (click)="resetFiler()" class="btn btn-primary">Reset filter</button>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card form-check">
                        <div class="card-title card-header-primary">
                            <h2>Author</h2>
                        </div>
                        <div class="card-body row">
                            <div *ngFor="let character of fillArray()" class="col-1">
                                <h3 (click)="filterAuthor(character)"
                                    class="font-weight-bold btn-link border-bottom">{{character}}</h3>
                            </div>
                            <div *ngFor="let author of filterAuthors;" class="col-12">
                                <label class="form-check-label">
                                    <input [(ngModel)]="author.selected" class="form-check-input" name="{{author.name}}"
                                           type="checkbox">{{author.name}}
                                    <span class="form-check-sign"><span class="check"></span></span>
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card form-check">
                        <div class="card-title card-header-primary">
                            <h2>Genre</h2>
                        </div>
                        <div class="card-body row">
                            <div *ngFor="let character of fillArray()" class="col-1">
                                <h3 (click)="filterGenre(character)"
                                    class="font-weight-bold btn-link  border-bottom">{{character}}</h3>
                            </div>
                            <div *ngFor="let genre of filterGenres;" class="col-12">
                                <label class="form-check-label">
                                    <input [(ngModel)]="genre.selected" class="form-check-input" name="{{genre.name}}"
                                           type="checkbox">{{genre.name}}
                                    <span class="form-check-sign"><span class="check"></span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>
