<app-navigation></app-navigation>
<div style="padding-top: 67px; margin-left: 70px"></div>

<div class="row">
    <div class="col-9">
        <div  class="justify-content-center row text-muted content">
            <h1 >Books</h1>
        </div>
        <div>
            <div class="ml-5">
                <a *ngIf="addBookVisible" [routerLink]="['addBook']" class="btn btn-primary btn-default">Add book</a>
            </div>
            <div class="row justify-content-between" >
                <div *ngFor="let book of books" class="col-lg-4 align-items-stretch align-items-center  row">
                    <div class="card card-profile">
                        <div class="card-body">
                            <div class="card-title">
                                <h2><a [routerLink]="['book', book.id]"> {{book.header}}</a></h2>
                            </div>
                            <div class="card-description">
                                <app-book-img [book]="book"></app-book-img>
                                <h3>Status: {{book.status}}</h3>
                                <div>
                                    <h3 *ngIf="book.authors">Authors:</h3>
                                    <div *ngFor="let author of book.authors ">
                                        <h3>{{author.name}}</h3>
                                    </div>
                                </div>
                                <h3 *ngIf="book.genre">Genre: {{book.genre}}</h3>
                                <div>Overview: {{book.overview | truncateText:250}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <form action="">
            <div class="card-body bmd-form-group row">
                <div class="input-group no-border">
                    <input [(ngModel)]="bookFilter.header" class="form-control" name="header" placeholder="Search by book title"
                           type="text">
                    <button (click)="searchByFilter()" class="btn btn-default btn-round btn-just-icon" type="submit">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>

                </div>
                <button (click)="searchByFilter()" class="btn btn-primary">Search by filter</button>
                <button (click)="resetFiler()" class="btn btn-primary">Reset filter</button>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card form-check">
                        <div class="card-title card-header-primary">
                            <h2>Author</h2>
                        </div>
                        <div class="card-body row">
                            <input type="text" placeholder="Author..." class="form-control" [(ngModel)]="searchAuthor" [ngModelOptions]="{standalone: true}">
                            <div *ngFor="let author of selectedAuthors | filter:searchAuthor|slice:0:5;" class="col-12">
                                <label class="form-check-label">
                                    <input [(ngModel)]="author.selected" class="form-check-input" name="{{author.name}}"
                                           type="checkbox">{{author.name}}
                                    <span class="form-check-sign"><span class="check"></span></span>
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card form-check">
                        <div class="card-title card-header-primary">
                            <h2>Genre</h2>
                        </div>
                        <div class="card-body row">
                            <input type="text" placeholder="Genre..." class="form-control" [(ngModel)]="searchGenre" [ngModelOptions]="{standalone: true}">
                            <div *ngFor="let genre of selectedGenres| filter:searchGenre|slice:0:5;" class="col-12">
                                <label class="form-check-label">
                                    <input [(ngModel)]="genre.selected" class="form-check-input" name="{{genre.name}}"
                                           type="checkbox">{{genre.name}}
                                    <span class="form-check-sign"><span class="check"></span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>
