<app-navigation></app-navigation>
<div style="padding-top: 67px; margin-left: 70px;"></div>

<div class="container">
    <div *ngIf="book" class="row">
        <form [formGroup]="bookForm" class="card">
            <div class="card-body">
                <div class="justify-content-center row">
                    <h2>{{book.header}}</h2>
                </div>
                <table class="table">
                    <tr>
                        <td rowspan="5">
                            <div class="justify-content-center row">
                                <app-book-img [book]="book"></app-book-img>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input [(ngModel)]="book.header" class="form-control" formControlName="header" placeholder="name"
                                       required/>
                        </td>
                    </tr>
                    <tr>
                        <td *ngIf="authors">
                            <label class="bmd-label-floating" for="authors">Authors:</label>
                        </td>
                        <td *ngFor="let author of authors" class="row">
                            <input [(ngModel)]="author.name" class="form-control" formControlName="author" id="authors" required
                                   type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="bmd-label-floating" for="status">Status:</label>
                        </td>
                        <td>
                            <input [(ngModel)]="book.status" class="form-control" formControlName="status" id="status"
                                   required type="text">
                        </td>
                    </tr>
                    <tr *ngIf="book.genre">
                        <td>
                            <label class="bmd-label-floating" for="genre">Genre</label>
                        </td>
                        <td>
                            <input [(ngModel)]="book.genre" class="form-control" formControlName="genre" id="genre"
                                   required type="text">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <textarea [(ngModel)]="book.overview" class="form-control" formControlName="overview" id="overview" required
                                      rows="10" type="text"></textarea>
                        </td>
                    </tr>
                </table>
                <div>
                    <app-file-upload [book]="book"></app-file-upload>
                </div>
                <button *ngIf="updateBookVisible" (click)="updateBook()" [disabled]="!bookForm.valid" class="btn btn-default">Save changes
                </button>
                <div *ngIf = "addAnnouncementVisible" class="btn-default btn">
                    <a   [routerLink]="['/books',book.id,'announcement']">Create announcement</a>
                </div>
            </div>
        </form>
        <div>
            <button (click)="addBookToUser(book.id)" *ngIf="userAddedBook" class="btn btn-primary" id="addBook">Add
                to my books
            </button>
            <button (click)="deleteBookFromUser(book.id)" *ngIf="!userAddedBook" class="btn btn-primary"
                    id="removeBook">Remove from my books
            </button>
            <button (click)="addBookToFavourite(book.id)" *ngIf="userAddedToFav" class="btn btn-primary" id="addFav">Add
                to favourite
            </button>
            <button (click)="removeBookFromFav(book.id)" *ngIf="!userAddedToFav" class="btn btn-primary" id="removeFav">
                Remove from favourite
            </button>
            <button (click)="addBookToRead(book.id)" *ngIf="userAddedToRead" class="btn btn-primary" id="addRead">Add to
                read
            </button>
            <button (click)="removeBookFromRead(book.id)" *ngIf="!userAddedToRead" class="btn btn-primary"
                    id="removeRead">Remove from read
            </button>
        </div>
    </div>
    <div>
        <app-reviews-list [book]="book"></app-reviews-list>
    </div>
    <div>
        <div class="row">
            <div *ngFor="let bookOfSuggestions of suggestionBook |  slice:0:3" class="col-3 col-lg-4  col-md-6">
                <div class="card card-profile">
                    <div class="card-body">
                        <div class="card-title">
                            <h3><a (click)="navigateToBook(bookOfSuggestions.id)"> {{bookOfSuggestions.header}}</a></h3>
                        </div>
                        <div class="card-description">
                            <div>Status: {{bookOfSuggestions.status}}</div>
                            <app-book-img [book]="bookOfSuggestions"></app-book-img>
                            <div>Overview: {{bookOfSuggestions.overview}}</div>
                            <div>
                                <div>Authors:</div>
                                <div *ngFor="let author of bookOfSuggestions.authors ">
                                    <div>{{author.name}}</div>
                                </div>
                            </div>
                            <div *ngIf="bookOfSuggestions.genre">Genre: {{bookOfSuggestions.genre}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
