<div class="sidebar" data-color="purple">
    <div class="logo"><a class="simple-text logo-normal" routerLink="/">
        BookNet
    </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/announcement">
                    <i class="material-icons">announcement</i>
                    <p>New Announcement</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/announcementlist">
                    <i class="material-icons">dns</i>
                    <p>All Announcements</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/calendar">
                    <i class="material-icons">calendar</i>
                    <p>Calendar</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="books">
                    <i class="material-icons">list</i>
                    <p>Books</p>
                </a>
            </li>
        </ul>
    </div>
</div>


