<title>Book add</title>
<form method="post" action="/book">
    <table>
        <tr>
            <td><label for="title">title</label></td>
            <td><input id="title" type="text" name="title"></td>
        </tr>
        <tr>
            <td><label for="header">header</label></td>
            <td><input id="header" type="text" name="header"></td>
        </tr>
        <tr>
            <td><label for="author">author</label></td>
            <td><input id="author" type="text" name="author"></td>
        </tr>
        <tr>
            <td><label for="overview">overview</label></td>
            <td><input id="overview" type="text" name="overview"></td>
        </tr>
        <tr>
            <td><label for="photo">photoId(int)</label></td>
            <td><input id="photo" type="text" name="photo"></td>
        </tr>
        <tr>
            <td><label for="file">fileId(int)</label></td>
            <td><input id="file" type="text" name="file"></td>
        </tr>

        <tr>
            <td><label for="status">status</label></td>
            <td><input id="status" type="text" name="status"></td>
        </tr>
        <tr>
            <td><label for="genre">genre</label></td>
            <td><input id="genre" type="text" name="genre"></td>
        </tr>
    </table>
    <input type="submit" value="Add Book">
</form>
