<title>User Update</title>
<head>User Update</head>
<form method="post" action="/user/update">
    <table>
        <tr>
            <td><label for="login">login</label></td>
            <td><input id="login" type="text" name="login"></td>
        </tr>
        <tr>
            <td><label for="newLogin">newLogin</label></td>
            <td><input id="newLogin" type="text" name="newLogin"></td>
        </tr>
        <tr>
            <td><label for="newPassword">newPassword</label></td>
            <td><input id="newPassword" type="password" name="newPassword"></td>
        </tr>
        <tr>
            <td><label for="newEmail">newEmail</label></td>
            <td><input id="newEmail" type="email" name="newEmail"></td>
        </tr>
    </table>
    <input type="submit" value="Update User">
</form>
