<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/userBook" method="post">
    <table>
      <tr>
        <td><label for="user">user(int)</label></td>
        <td><input type="number" id="user" name="user"></td>
      </tr>
      <tr>
        <td><label for="book">book(int)</label></td>
        <td><input type="number" id="book" name="book"></td>
      </tr>
    </table>
    <input type="submit" value="add book">
  </form>
</body>
</html>
