<div *ngIf="review" class="container">
    <h2>Review</h2>
    <div *ngIf="book">
        <label>Book: {{book.header}}</label>
    </div>
    <div *ngIf="user">
        <label>User: {{user.userName}}</label>
    </div>
    <div class="row">
        <div *ngFor="let i of fillArray(review.grade)">
            <i class="material-icons">star_border</i>
        </div>
    </div>
    <div>
        <div class="text-muted" [innerHTML]="review.text"></div>
    </div>
    <div>
        <label>Date: {{review.reviewDate}}</label>
    </div>
</div>
