<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" routerLink="/">Booknet</a>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button type="submit" class="btn btn-default btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
            <ul class="navbar-nav">
<!--             <app-notifications-list *ngIf="user"></app-notifications-list>-->
                <li class="nav-item">
                    <a *ngIf="user" class="dropdown nav-link" data-toggle="dropdown" id="userMenuLabel"
                                    href="javascript:void(0)">
                        <i class="material-icons">person</i>
                        <p class="d-lg-none d-md-block">
                            Account
                        </p>
                    </a>
                    <a *ngIf="!user" class="login" routerLink="/login">
                        <button type="button" class="btn btn-outline-primary">Login</button>
                    </a>
                    <div *ngIf="user" aria-labelledby="userMenuLabel" class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" routerLink="/user/{{user.id}}">My profile</a>
                        <a class="dropdown-item" routerLink="/userBooks">My books</a>
                        <a (click)="logout()" class="dropdown-item" href="javascript:void(0)">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
