<div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
    <div class="logo"><a href="/" class="simple-text logo-normal">
        BookNet
    </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" href="/">
                    <i class="material-icons">domain</i>
                    <p>Main</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/user" *ngIf="isLogged">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
                <a class="nav-link" href="/login" *ngIf="!isLogged">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
            </li>
        </ul>
    </div>
</div>