<app-navigation></app-navigation>

<div style="padding-top: 67px; margin-left: 70px"></div>

<div class="container">
    <div class="submit-block">
        <button (click)="sendData()" class="submit-button">Submit</button>
    </div>
    <div *ngFor="let el of data;" class="form-group">
        <div  class="card-header">{{el.user.userName}}</div>
        <div *ngFor="let right of rightTypes;">
            <div class="card-description">{{right}}:
                <button (click)="changeRightStatus(el,right)" class="btn btn-primary btn-default">{{hasRight(el, right)}}</button>
            </div>

        </div>
    </div>
</div>
