<mat-button-toggle-group name="fontStyle" #group="matButtonToggleGroup">

    <mat-button-toggle value="all" (click)="getAllFriends(this.id.toString())">
        <i class="material-icons">favorite</i> Friends
    </mat-button-toggle>
    <mat-button-toggle value="new" (click)="getNewApplications(this.id.toString())"><i
        class="material-icons md-48">face</i> Newcomers
    </mat-button-toggle>

</mat-button-toggle-group>


<div [ngSwitch]="group.value">
    <ng-template ngSwitchCase="new">

        <li *ngFor="let newApp of newApplications">
            <div class="alert alert-primary">

                <div class="name">{{newApp.email}}</div>
                <div routerLink="/user/{{newApp.id}}"> {{newApp.userName}}</div>
                <!--span class="letter">   <a>{{newApp.userName}}</a> </span-->

                <div *ngIf="this.id == this.currentUser.id">
                    <button  class="btn btn-primary" (click)="addFriends(newApp)"><i
                        class="material-icons " style= "font-size:30px;color:whitesmoke" >done</i>
                    </button>
                    <button  class="btn btn-primary" (click)="rejectFriends(newApp)"><i
                        class="material-icons " style= "font-size:30px;color:whitesmoke" >clear</i>
                    </button>
                </div>

            </div>
        </li>


    </ng-template>
    <ng-template ngSwitchCase="all">
        <li *ngFor="let friend of userFriends">
            <div class="alert alert-primary">

                <div class="name">{{friend.email}}</div>

                <div routerLink="/user/{{friend.id}}"> {{friend.userName}}</div>
                <!--a  routerLink="user/:{{friend.id}}"> <span class="letter"><a>{{friend.userName}}</a></span></a-->
                <!--div routerLink="friends/user/:{{friend.id}}" </div>-->


            </div>
        </li>


    </ng-template>
</div>`

