.wrapper {
    display: flex;
}


.friends {
    width: 150px;
    background: #ccc;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    border-radius: 50px;
    margin-left:200px;
}
.icon{
    margin-top:10px;
    width: 70px;

}
.name{
    margin-top:0px;
    margin-left:10px;
    padding-left:10px;
    float: right;
    width: 70px;

}
