.wrapper {
    display: flex;
}


li {
    list-style-type: none;


}


.new {
    width: 200px;
    background: #FFD700;
    padding: 5px;
    padding-right: 20px;
    border-radius: 50px;
    margin-left: 200px;
    opacity: .7;
    border: none;
    text-align: center;
    float: left;

}

.letter {
    color: lightyellow;
    font-size: 100%;
}

.icon {
    margin-top: 10px;
    width: 70px;

}

.name {
    margin-top: 0px;
    margin-left: 10px;
    padding-left: 10px;
    float: right;


}
