<body class="dark-edition" style="margin: 0">
<div class="wrapper ">
    <app-navigation></app-navigation>
    <app-sidebar></app-sidebar>
    <div style="padding-top: 67px; margin-left: 260px">
        <div class="col-md-12">
            <div>
                <div class="row justify-content-around">
                    <div *ngFor="let book of books" class="col-lg-4  col-md-6 align-items-stretch row">
                        <div class="card card-profile">
                            <div class="card-body">
                                <div class="card-title">
                                    <h2><a [routerLink]="['books/book', book.id]"> {{book.header}}</a></h2>
                                </div>
                                <div class="card-description">
                                    <app-book-img [book]="book"></app-book-img>
                                    <h3>Status: {{book.status}}</h3>
                                    <div>
                                        <h3 *ngIf="book.authors">Authors:</h3>
                                        <div *ngFor="let author of book.authors ">
                                            <h3>{{author.name}}</h3>
                                        </div>
                                    </div>
                                    <h3 *ngIf="book.genre">Genre: {{book.genre}}</h3>
                                    <div>Overview: {{book.overview | truncateText:250}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
