<body class="dark-edition" style="margin: 0">
<div class="wrapper ">
    <app-navigation></app-navigation>
    <app-sidebar></app-sidebar>
    <div style="padding-top: 67px; margin-left: 270px">
        <a routerLink="/user/8">Admin link </a>
        <a routerLink="/user/4">User link </a>
        <a routerLink="/user/17">Super link </a>
        <a routerLink="/user/16">Moderator link</a>
        <div>
            <button type="button" (click)="send()">Send test</button>
        </div>
    </div>
</div>
</body>