<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Create achievement</h4>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md">
                    <label class="bmd-label-floating" for="Name">Name</label>
                    <input [(ngModel)]="model.achievementName" autocomplete="off" class="form-control" id="Name" name="Name"
                           type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <label class="bmd-label-floating" for="entity">Entity</label>
                    <select (click)="chooseActionsByEntity()" [(ngModel)]="model.entity" class="custom-select" id="entity"
                            name="entity">
                        <option>announcement</option>
                        <option>book</option>
                        <option>review</option>
                        <option>user</option>
                    </select>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label class="bmd-label-floating" for="count">Count</label>
                        <input [(ngModel)]="model.count" autocomplete="off" class="form-control" id="count" max="1000" min="0"
                               name="count" type="number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Action">Action</label>
                        <select [(ngModel)]="model.action" class="custom-select" id="Action" name="Action">
                            <option *ngFor="let action of certainActionList">{{action['actionName']}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="model.entity == 'book'" class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating" for="genre">Genre</label>
                        <select [(ngModel)]="model.genre" class="custom-select" id="genre" name="genre">
                            <option *ngFor="let genre of genreList">{{genre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div [ngSwitch]="addStatus">
                <div *ngSwitchCase="'success'" class="alert alert-success text-center" role="alert">
                    Success! The achievement has been created
                </div>
                <div *ngSwitchCase="'download-error'" class="alert alert-danger text-center" role="alert">
                    Error during downloading! Connection to the server has been canceled
                </div>
                <div *ngSwitchCase="'error'" class="alert alert-danger text-center" role="alert">
                    Something went wrong! Please try again!
                </div>
                <div *ngSwitchCase="'warning'" class="alert alert-warning text-center" role="alert">
                    Warning! Fill in all the fields!
                </div>
            </div>
            <button (click)="createAchievement()" class="btn btn-primary pull-right" type="button">Create achievement
            </button>
        </form>
    </div>
</div>
