<div>
    <div><h1>Reviews</h1></div>
    <div>
        <button (click)="addReviewVisible=!addReviewVisible" class="btn btn-default">Add review</button>

        <form *ngIf="addReviewVisible" action="" #reviewForm="ngForm">
            <table class="table">
                <tr>
                    <td><label for="grade">Grade</label></td>
                    <td><input [(ngModel)]="createdReview.grade"  class="form-control" id="grade" name="grade" type="number" required>
                    </td>
                </tr>
                <tr>
                    <td><label for="text">Text</label></td>
                    <td><ckeditor id="text" [(ngModel)]="createdReview.text" [editor]="Editor" name="text" required></ckeditor></td>
                </tr>
            </table>
            <button [disabled]="!reviewForm.valid"  (click)="createReview();" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div>
        <div>
            <div *ngFor="let review of acceptedReviews" class="card">
                <div class="card-header card-header-primary">User: {{review.username}}</div>
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let i of fillArray(review.grade)">
                            <i class="material-icons">star_border</i>
                        </div>
                    </div>
                    <div>
                         <a [routerLink]="['review', review.id]" [innerHTML]="review.text | truncateText:250"></a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>Not accepted reviews</div>
            <div *ngFor="let review of notAcceptedReviews" class="card">
                <div class="card-header card-header-primary">User: {{review.username}}</div>
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let i of fillArray(review.grade)">
                        <i class="material-icons">star_border</i>
                    </div>
                    </div>
                    <div>
                        <a  [routerLink]="['review', review.id]" [innerHTML]="review.text | truncateText:250"></a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-primary col-2" (click)="acceptReview(review)">Accept review</button>
                    <button class="btn btn-primary col-2" (click)="deleteReviewById(review)">Delete review</button>
                </div>
            </div>
        </div>
    </div>
</div>
