<div>
    <div><h1>Reviews</h1></div>
    <div>
        <button (click)="addReviewVisible=!addReviewVisible" class="btn btn-default">Add review</button>

        <form *ngIf="addReviewVisible" [formGroup]="createdReviewForm" action="">
            <table class="table">
                <tr>
                    <td><label for="grade">Grade</label></td>
                    <td>
                        <div class="col-2">
                            <select [(ngModel)]='createdReview.grade' class="custom-select" formControlName="grade" id="grade"
                                    name="">
                                <option *ngFor="let grade of [1,2,3,4,5]" [value]="grade">{{grade}}</option>
                            </select>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td><label for="text">Text</label></td>
                    <td>
                        <ckeditor [(ngModel)]="createdReview.text" [editor]="Editor" formControlName="text" id="text"
                                  required></ckeditor>
                    </td>
                </tr>
            </table>
            <button (click)="createReview();" [disabled]="!createdReviewForm.valid" class="btn btn-default">Submit
            </button>
        </form>
    </div>
    <div>
        <div>
            <div *ngFor="let review of acceptedReviews" class="card">
                <div class="card-header card-header-primary">User: {{review.username}}</div>
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let i of fillArray(review.grade)">
                            <i class="material-icons">star_border</i>
                        </div>
                    </div>
                    <div>
                        <a [innerHTML]="review.text | truncateText:250" [routerLink]="['review', review.id]"></a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>Not accepted reviews</div>
            <div *ngFor="let review of notAcceptedReviews" class="card">
                <div class="card-header card-header-primary">User: {{review.username}}</div>
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let i of fillArray(review.grade)">
                            <i class="material-icons">star_border</i>
                        </div>
                    </div>
                    <div>
                        <a [innerHTML]="review.text | truncateText:250" [routerLink]="['review', review.id]"></a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button (click)="acceptReview(review)" class="btn btn-primary col-2">Accept review</button>
                    <button (click)="deleteReviewById(review)" class="btn btn-primary col-2">Delete review</button>
                </div>
            </div>
        </div>
    </div>
</div>
