<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>

<style>
    label {
        display: block;
        padding-left: 16px;
    }
</style>

<div class="container">
    <div class="row" style="width: 100%">
        <div class="col-md-offset-3 col-md-6">

            <div class="tab" role="tabpanel">
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <form class="form-horizontal" method="post" #f="ngForm">
                            <div class="form-group">
                                <label>Change your password</label>
                            </div>
                            <div class="form-group">
                                <label for="recoverCode">Recover code</label>
                                <input type="password" class="form-control" id="recoverCode" name="code"
                                       [(ngModel)]="model.code">
                            </div>
                            <div class="form-group">
                                <label for="newPassword">New password</label>
                                <input type="password" class="form-control" id="newPassword" name="password"
                                       [(ngModel)]="model.password">
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                       [(ngModel)]="model.confirmPassword">
                            </div>
                            <div class="form-group">
                                <button type="button"
                                        [disabled]="!(this.model.password.length!=0&&this.model.code.length!=0&&this.model.password===this.model.confirmPassword)"
                                        class="btn btn-default"  (click)="change()">Change password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

