<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<form method="post" action="/login">
    <table>
        <tr>
            <td><label for="login">Login</label></td>
            <td><input id="login" type="text" name="login"></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input id="password" type="password" name="password"></td>
        </tr>
    </table>
    <input type="submit" value="Log in">
</form>
