<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
</head>
<body>

<form action="/notification" method="post">
    <table>
        <tr>
            <td><label for="userId">userId(int)</label></td>
            <td><input id="userId" name="userId" type="number"></td>
        </tr>
        <tr>
            <td><label for="actionId">actionId(int)</label></td>
            <td><input id="actionId" name="actionId" type="number"></td>
        </tr>
    </table>
    <input type="submit" value="Add notif">
</form>

</body>
</html>
