<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs " role="tablist">
                    <li role="presentation"><a routerLink="/login" aria-controls="home" role="tab">sign in</a></li>
                    <li role="presentation" class="active"><a aria-controls="profile" role="tab">sign up</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section2">
                        <form class="form-horizontal" #f="ngForm">
                            <div class="form-group">
                                <label for="exampleInputLogin1">Login</label>
                                <input type="text" class="form-control" autocomplete="off" name="login"
                                       id="exampleInputLogin1" [(ngModel)]="model.login">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                                       [(ngModel)]="model.email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" autocomplete="off" name="password"
                                       id="exampleInputPassword1" [(ngModel)]="model.password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPasswordConfirm1">Confirm password</label>
                                <input type="password" class="form-control" autocomplete="off" name="passwordConfirm"
                                       id="exampleInputPasswordConfirm1" [(ngModel)]="confirmPassword">
                            </div>
                            <div class="form-group">
                                <div class="alert alert-danger text-center" role="alert" *ngIf="isError">
                                    Something went wrong! Please try again!
                                </div>
                                <button type="submit" [disabled]="!(this.model.login.length != 0 && this.model.password.length > 0
                                        && this.model.email.length > 0 && this.model.password==confirmPassword)" class="btn btn-default"
                                        (click)="register()">
                                    Sign up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
